@import '../../SCSS/mixins.scss';
@import '../../SCSS/variables.scss';

.navbar {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1000;
	width: calc(100% - 2em);
	justify-content: flex-end;
}

.nav {
	position: absolute;
	width: 100%;
	text-align: left;
	top: 100%;
	left: 0;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
	ul {
		list-style: none;
	}
	li {
		padding: 1em;
		display: flex;
		align-items: center;
	}
	a {
		color: $clr-white;
		text-decoration: none;
		font-size: 1.2rem;
		text-transform: uppercase;
		opacity: 0;
		transition: opacity 150ms ease-in-out;
		&:hover {
			color: $clr-grey;
		}
	}
}

.nav-toggle {
	display: none;
	&:checked ~ nav {
		transform: scale(1, 1);
		a {
			opacity: 1;
			transition: opacity 250ms ease-in-out 250ms;
		}
	}
}

.nav-toggle__label {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
	span,
	span::before,
	span::after {
		display: block;
		background: $clr-white;
		height: 0.125rem;
		width: 2rem;
		border-radius: 0.125rem;
		position: relative;
		// content: 'X';
	}

	span::before,
	span::after {
		content: '';
		position: absolute;
	}

	span::before {
		bottom: 0.45rem;
	}

	span::after {
		top: 0.4rem;
	}
}

.user {
	// position: absolute;
	text-align: right;
	margin: 1em;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: $clr-white08;
	.user__login a {
		font-weight: 600;
		font-size: 1rem;
		margin: 0 0.5em;
		@include nav-btn;
	}
}

@include for-tablet-landscape-up {
	.nav-toggle__label {
		display: none;
	}

	.navbar {
		display: grid;
		grid-template-columns: 1em minmax(600px, 1fr) auto 1em;
	}

	.nav {
		all: unset;
		grid-column: 2/ 3;
		display: flex;
		align-items: center;
		ul {
			display: flex;
		}
		li {
			margin-right: 3em;
			margin-bottom: 0;
			&:hover {
				background: transparent;
			}
		}
		a {
			opacity: 1;
			font-size: 1rem;
			@include nav-btn;
			&.nav__active::after {
				transform: scale( 1,1 );
			}
			&.nav__active {
				color: $clr-grey;
			}
		}
	}

	.user {
		grid-column: 3/ 4;
		display: flex;
		justify-content: flex-end;
	}
}
